#.gitignore
.classpath
.idea/*
.project
.settings/*
target/*
*.iml
dependency-reduced-pom.xml

src/main/java/me/Fupery/Artiste/IO/ExamplePlugin.java

.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml

.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml

.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml

.idea/libraries/Maven__org_spigotmc_spigot_api_1_8_3_R0_1_SNAPSHOT.xml

.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml

.idea/libraries/Maven__org_yaml_snakeyaml_1_14.xml

.idea/misc.xml
